:root {
}

.panel {
    background-color: rgba(255, 255, 255, 0.66);
    -unity-slice-left: 0;
    -unity-slice-top: 0;
    -unity-slice-right: 0;
    -unity-slice-bottom: 0;
    background-size: 100% 100%;
    scale: 0.8 0.8;
    border-top-left-radius: 33px;
    border-top-right-radius: 33px;
    border-bottom-right-radius: 33px;
    border-bottom-left-radius: 33px;
}
